* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.try {
    transform: translate(-100%);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.fa-bars {
    position: fixed;
    top: 30px;
    right: 45px;
    color: white;
    cursor: pointer;
    font-size: 25px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    width: 300px;
    transform: translate(-100%);
    transition-duration: .3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sidebarHeader {
    text-align: right;
    padding: 30px;


}

.menu a {
    text-decoration: none;
    color: gray;
    font-size: 24px;
    padding: 16px 24px;
    display: block;
    transition-duration: .3s;
}


.menu a:hover {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    color: white;
    padding-left: 40px;
    transition-duration: .3s;
}

.showSideBar {
    transform: translate(0%);
}

@media(max-width:768px) {
    .sidebar {
        width: 100%;
    }
}

.fa-xmark {
    cursor: pointer;
    font-size: 25px;
    color: #00DBDE;
}